// @import 'elements/buttons';
// @import 'elements/schedule-tables';

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: white;
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}

.main-container {
  max-width: 1170px;
  margin: 0 auto;
  h2 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    position: relative;
  }
  h2:after {
    content: '';
    height: 3px;
    background: red;
    width: 87px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
  }
  p {
    line-height: 1.5;
    font-size: 16px;
  }
}

.main-btn {
  padding: 5px 15px;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 30px;
  background-color: #3d1819;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

button {
  font-family: 'Montserrat';
}

.button {
  padding: 5px 15px;
  border: 1px solid #dcdfe6;
  background-color: white;
  color: #263238;
  border-radius: 15px;
  font-size: 18px;
  margin: 5px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // filter: brightness(120%);
    cursor: pointer;
  }
}

.event-layout {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}