# See http://help.github.com/ignore-files/ for more about ignoring files.

#.env
.env

# compiled output
/dist
/www
/tmp
/upload
/out-tsc
/dump/*.sql

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/connect.lock
/libpeerconnection.log
npm-debug.log
testem.log

### Node template
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
nohup.out
*.bak

#app created files

# Golang ignore
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
debug
/vendor/
__debug_bin
/sotbi.ini

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# System Files
.DS_Store
Thumbs.db


static
data
.idea
.env
.env.docker
logs

nohup.out
prosodeystvie-server
prosodeystvie-server.pid